body {
    background: url("./img/micheile-henderson-lZ_4nPFKcV8-unsplash.jpg");
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Noticia Text', serif;
    padding-top: 50px;
}
.calculatorTable {
    margin: auto;
    border-radius: 5px;
    padding: 10px;
    background-color:rgba(255,255,255, 0.4);
}

.canvas {
    text-align: center;
}

.output {
    font-weight: bold;
}

#payment {
    text-decoration: underline;
    color: red;
}

#graph {

    border-radius: 5px;
    background-color:rgba(255,255,255, 0.5);
    
}


th, td {
    vertical-align: top;
}
