* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    height: 100vh;
    background: #000;
}

section {
    height: 100vh;
    
}

.switch {
    position: absolute;
    display: inline-block;
    height: 34px;
    width: 60px;
    top: 50px;
    left: 50px;
    transform: translate(-50%, -50%);
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.moon {
    height: 200px;
    width: 200px;
    background-color: #B2B2B2;
    box-shadow: 0 0 0 15px #B2B2B2;
    border-radius: 50%;
    filter: drop-shadow(0 0 3rem white);
    position: absolute;
    top: 200px;
    right: 500px;
    animation: bounce 1s ease-in-out infinite alternate;
}
.moon::after{
    content: "";
    background-color: rgba(162, 162, 162, 0.81);
    display: block;
    position: absolute;
    left:  130px;
    top:  50px;
    width: 40px;  
    height: 40px;
    border-radius:50%;
    box-shadow: 3px 0 0 1px rgba(98, 98, 98, 0.51),
                7px 45px 0 -5px rgba(162, 162, 162, 0.9),
                9px 45px 0 -5px rgba(100, 100, 100, 0.51),
                35px 20px 0 -10px rgba(162, 162, 162, 0.9),
                37px 20px 0 -10px rgba(100, 100, 100, 0.51);
}

.bright {
    width: 100%;
    height: 100vh;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeMe 1000ms ease;
}

.bright .sun {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    filter: drop-shadow(0 0 3rem yellow);
    position: absolute;
    animation: bounce 1s ease-in-out infinite alternate;
    z-index: 1;
}


.cloud1,
.cloud2,
.cloud3 {
    height: 100px;
    right: 0%;
}

.cloud1 {    
    top: 25%;
    transform: translate(100%, -25%);
    animation: clouds 7s ease-in infinite 1s;

}

.cloud2 {    
    top: 50%;
    transform: translate(100%, -50%);
    animation: clouds 7s ease-in infinite 3s;
    
}

.cloud3 {    
    top: 75%;
    transform: translate(100%, -75%);
    animation: clouds 7s ease-in infinite 2s;
}

span {
    position: absolute;
    z-index: -1;
    pointer-events: none;
    background: white;
    animation: animate 5s linear infinite;
    filter: drop-shadow(0 0 3rem yellow);
}

.night {
    animation: fadeMe 1000ms ease;
}

@keyframes fadeMe {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes clouds { 
    from {
        right: 0%;
    }
    to {
        right: 130%;
    }
}
@keyframes bounce {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(20px);
    }
}

@keyframes animate {
    0% {
        transform: scale(0) translateX(0) rotate(0deg);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: scale(1) translateX(-500%) rotate(360deg);
        opacity: 0;
    }
}
